/* Radio Button */
.radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-clip: content-box;
    border: 2px solid #4a5568;
    border-radius: 9999px;
    transition: background-color 0.15s ease-in-out;
  }
  
  /* Radio Button: Checked */
  .radio:checked {
    background-color: #4a5568;
  }
  
  /* Radio Button: Focus */
  .radio:focus {
    outline: 2px solid #4a5568;
  }
  